<main>
  <div class="modal-container" *ngIf="isOrderConfirmedVisible">
    <div class="modal-content">
      <app-order-confirmed
        [isOrderConfirmedVisible]="isOrderConfirmedVisible"
        (closeModal)="toggleOrderConfirmed()"
      ></app-order-confirmed>
    </div>
  </div>
  <section class="desserts">
    <h1>Desserts</h1>

    <div class="desserts-container">
      <div class="dessert-item" *ngFor="let dessert of desserts()">
        <section class="item-image-add-to-cart">
          <picture>
            <source media="(min-width: 1024px)" [srcset]="dessert.image.desktop">

            <source media="(min-width: 768px)" [srcset]="dessert.image.tablet">

            <source media="(min-width: 480px)" [srcset]="dessert.image.mobile">


          <img [src]="dessert.image.thumbnail" alt="dessert image">
          </picture>
          <app-add-to-cart [product]="dessert" />
        </section>
        <section class="item-info">
          <p class="category">{{dessert.category}}</p>
          <p class="name">{{ dessert.name}}</p>
          <p class="price">{{ dessert.price | currency }}</p>
        </section>
      </div>
    
      </div>
    
  </section>

  <section class="cart">
    <h2>Your Cart ({{ cartCount$ | async }})</h2>
    <div class="content" *ngIf="(cartItems$ | async)?.length === 0">
      <div class="empty-cart-content">
        <img src="images/illustration-empty-cart.svg" alt="empty cart svg">
        <p class="empty-cart-description">
          Your added items will appear here
        </p>
      </div>
    </div>
   
    <div class="cart-items" *ngIf="(cartItems$ | async)?.length !== 0">
      <div class="cart-item" *ngFor="let item of cartItems$ | async">
          <div class="details">
            <h4>{{item.name}}</h4>
            
            <p> <b class="quantity">{{item.quantity}}x</b>
              <span class="unit-price">&#64; {{item.price | currency}}</span>
              <span class="price"> <b> {{item.price * (item.quantity || 1) | currency}} </b></span>

            </p>
          </div>

          <div class="close">
            <button class="remove-item" (click)="removeFromCart(item)">
              <img src="images/icon-remove-item.svg" alt="close icon">
            </button>
          </div>
      </div>

      <div class="total">
        <span class="total-text">Order Total</span><span class="totalValue">{{cartTotal$ | async | currency}}</span>
      </div>

      <div class="carbonneutral">
        <p class="carbon-neutral">

          <img src="images/icon-carbon-neutral.svg" alt="carbon neutral icon">
          
          <a>This is a
          <b>Carbon-Neutral </b>Delivery </a>

        </p>
      </div>
    </div>
    <button *ngIf="(cartItems$ | async)?.length !== 0" class="confirmOrder" (click)="toggleOrderConfirmed()">
      Confirm Order
    </button>

  </section>
</main>
